<div add-shadows></div>

<div class="jumbotron">

  <canvas ng-controller="MainCtrl">

    <sframe ng-attr-transform="translate(
                                {{view.world.offset.x}}, 
                                {{view.world.offset.y}})">
  
      <desc>Frame containing the World</desc>

      <grid ng-repeat="y in range(world.maxY)">

        <tile pos-x="{{x}}"
              pos-y="{{y}}"
              width="{{view.world.tile.width}}"
              height="{{view.world.tile.height}}"
              h-pad="{{view.world.tile.horizPad}}"
              v-pad="{{view.world.tile.verticalPad}}"
              classes="{{world.classAt(x,y)}}" 
              icon="{{world.iconAt(x,y)}}"

              ng-click="toggleWorldCxtMenu($event)"
              ng-repeat="x in range(world.maxX)" />

      </grid>

    </sframe>

    <sframe ng-attr-transform="translate(
                                {{view.program.offset.x}}, 
                                {{view.program.offset.y}})">

      <desc>Frame containing the Program</desc>

      <grid ng-repeat="fn in range(program.functions.length)">

        <tile pos-y="{{fn}}"
              pos-x="{{pos}}"
              width="{{view.program.tile.width}}"
              height="{{view.program.tile.height}}"
              h-pad="{{view.program.tile.horizPad}}"
              v-pad="{{view.program.tile.verticalPad}}"
              classes="{{program.classAt(fn,pos)}}" 
              icon="{{program.iconAt(fn,pos)}}"

              ng-click="toggleProgramCxtMenu($event)"
              ng-repeat="pos in range(program.functions[fn].length)" />

    </sframe>

      <polar ng-if="worldCxtMenu" 
             cx="{{worldCxtMenu.cx}}" 
             cy="{{worldCxtMenu.cy}}" 
             n="{{worldCxtMenu.menus.length}}">

        <sframe ng-repeat="a in range(worldCxtMenu.menus.length)">

          <arc a="{{a}}"
               r-pad="{{view.menu.arcPad}}"
               inner="{{view.menu.eye + r * view.menu.arcWidth + r * view.menu.arcShift }}"
               outer="{{view.menu.eye + (r+1) * view.menu.arcWidth + r * view.menu.arcShift }}"
               classes="{{worldCxtMenu.menus[a][r][0]}}"
               icon="{{worldCxtMenu.menus[a][r][1]}}"

               ng-click="worldCxtMenu.menus[a][r][2](worldCxtMenu.x, worldCxtMenu.y)"
               ng-repeat="r in range(worldCxtMenu.menus[a].length)" />

        </sframe>

      </polar>

      <polar ng-if="programCxtMenu" 
             cx="{{programCxtMenu.cx}}" 
             cy="{{programCxtMenu.cy}}" 
             n="{{programCxtMenu.menus.length}}">

        <sframe ng-repeat="a in range(programCxtMenu.menus.length)">

          <arc a="{{a}}"
               r-pad="{{view.menu.arcPad}}"
               inner="{{view.menu.eye + r * view.menu.arcWidth + r * view.menu.arcShift }}"
               outer="{{view.menu.eye + (r+1) * view.menu.arcWidth + r * view.menu.arcShift }}"
               classes="{{programCxtMenu.menus[a][r][0]}}"
               icon="{{programCxtMenu.menus[a][r][1]}}"

               ng-click="programCxtMenu.menus[a][r][2](programCxtMenu.x, programCxtMenu.y)"
               ng-repeat="r in range(programCxtMenu.menus[a].length)" />

        </sframe>

      </polar>

  </canvas>

  <!--div ng-include="'views/partials/placeholder.html'"></div-->
  <!--div ng-include="'views/partials/elbow.html'"></div-->

  <button class="btn btn-default" ng-click="stepper.step(1, onSafeStep, onBadStep, onComplete)">Step</button>

</div>
