<div add-shadows></div>

<div class="jumbotron">

  <canvas ng-controller="MainCtrl">

    <sframe ng-attr-transform="translate(
                                {{view.world.offset.x}}, 
                                {{view.world.offset.y}})">
  
      <desc>Frame containing the World</desc>

      <grid ng-repeat="y in range(world.maxY)">

        <tile pos-x="{{x}}"
              pos-y="{{y}}"
              width="{{view.world.tile.width}}"
              height="{{view.world.tile.height}}"
              h-pad="{{view.world.tile.horizPad}}"
              v-pad="{{view.world.tile.verticalPad}}"
              classes="{{world.classAt(x,y)}}" 
              icon="{{world.iconAt(x,y)}}"

              ng-click="toggleWorldCxtMenu($event)"
              ng-repeat="x in range(world.maxX)" />

      </grid>

    </sframe>

    <sframe ng-attr-transform="translate(
                                {{view.program.offset.x}}, 
                                {{view.program.offset.y}})">

      <desc>Frame containing the Program</desc>

      <grid ng-repeat="fn in range(program.functions.length)">

        <tile pos-y="{{fn}}"
              pos-x="{{pos}}"
              width="{{view.program.tile.width}}"
              height="{{view.program.tile.height}}"
              h-pad="{{view.program.tile.horizPad}}"
              v-pad="{{view.program.tile.verticalPad}}"
              classes="{{program.classAt(fn,pos)}}" 
              icon="{{program.iconAt(fn,pos)}}"

              ng-click="toggleProgramCxtMenu($event)"
              ng-repeat="pos in range(program.functions[fn].length)" />

    </sframe>

      <polar ng-if="worldCxtMenu" 
             cx="{{worldCxtMenu.cx}}" cy="{{worldCxtMenu.cy}}" n="4">

        <arc ng-repeat="i in range(4)" a="{{i}}"
             inner="30"
             outer="60"
             icon="+"/>

        <arc ng-repeat="i in range(4)" a="{{i}}"
             inner="70"
             outer="100"
             icon="+"/>

      </polar>

      <polar ng-if="programCxtMenu" 
             cx="{{programCxtMenu.cx}}" cy="{{programCxtMenu.cy}}" n="4">

        <arc ng-repeat="i in range(4)" a="{{i}}"
             inner="30"
             outer="60"
             icon="+"/>

        <arc ng-repeat="i in range(4)" a="{{i}}"
             inner="70"
             outer="100"
             icon="+"/>

      </polar>

  </canvas>

  <!--div ng-include="'views/partials/placeholder.html'"></div-->
  <!--div ng-include="'views/partials/elbow.html'"></div-->

  <button class="btn btn-default" ng-click="stepper.step(1, onSafeStep, onBadStep, onComplete)">Step</button>

</div>
